<%= form_with(model: surf_spot, class: "contents") do |form| %>
  <% if surf_spot.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(surf_spot.errors.count, "error") %> prohibited this surf_spot from being saved:</h2>

      <ul class="list-disc ml-6">
        <% surf_spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:name].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:location].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:location].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :country %>
    <%= form.text_field :country, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:country].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:country].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:description].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :wave_type %>
    <%= form.text_field :wave_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:wave_type].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:wave_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :break_type %>
    <%= form.text_field :break_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:break_type].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:break_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :optimal_swell_direction %>
    <%= form.text_field :optimal_swell_direction, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:optimal_swell_direction].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:optimal_swell_direction].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :optimal_wind_direction %>
    <%= form.text_field :optimal_wind_direction, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:optimal_wind_direction].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:optimal_wind_direction].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :best_tide %>
    <%= form.text_field :best_tide, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:best_tide].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:best_tide].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :difficulty_level %>
    <%= form.text_field :difficulty_level, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:difficulty_level].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:difficulty_level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :crowd_level %>
    <%= form.text_field :crowd_level, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:crowd_level].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:crowd_level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :localism_level %>
    <%= form.text_field :localism_level, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:localism_level].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:localism_level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :monthly_cost %>
    <%= form.text_field :monthly_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:monthly_cost].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:monthly_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :rental_cost %>
    <%= form.text_field :rental_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:rental_cost].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:rental_cost].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :lesson_cost %>
    <%= form.text_field :lesson_cost, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": surf_spot.errors[:lesson_cost].none?, "border-red-400 focus:outline-red-600": surf_spot.errors[:lesson_cost].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
