<div id="<%= dom_id review %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= review.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Surf spot:</strong>
    <%= review.surf_spot_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= review.comment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Wave quality:</strong>
    <%= review.wave_quality %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Consistency:</strong>
    <%= review.consistency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Accessibility:</strong>
    <%= review.accessibility %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amenities:</strong>
    <%= review.amenities %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Beauty:</strong>
    <%= review.beauty %>
  </div>
</div>
